@font-face {
    font-family: 'Niconne';
    src: url(./assets/fonts/Niconne-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-Regular.ttf);
}

.formulario-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/img/autumn-background.jpg') no-repeat;
    background-size: cover;
}

.cursiva {
    font-family: 'Niconne';
    
}

.montserrat {
    font-family: 'Montserrat';
}

.formulario-titulo {
    font-size: 3.5em;
    text-shadow: 2px 2px black;
}

.formulario-input {
    display: block;
    color: white;
    width: 280px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
}

.formulario-input::placeholder {
    color: rgb(172, 192, 172);
}

.formulario-btn {
    font-size: 2.5em;
}

.formulario-btn:hover {
    text-decoration: underline;
}

.formulario-btnReset {
    color: rgb(172, 192, 172);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 999;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translate(-50%, -70%);
    }
    to {
        opacity: 1;
        transform: translateY(-50%, -50%);
    }
}

.mensaje-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: aparecer 0.7s ease-in-out forwards;
    opacity: 0;
    background-color: darksalmon;
    color: black;
    font-size: 2em;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
}