@font-face {
    font-family: 'Niconne';
    src: url(./assets/fonts/Niconne-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-Regular.ttf);
}

.formulario-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/img/autumn-background.jpg') no-repeat;
    background-size: cover;
}

.cursiva {
    font-family: 'Niconne';
    
}

.montserrat {
    font-family: 'Montserrat';
}

.formulario-titulo {
    font-size: 3.5em;
    text-shadow: 2px 2px black;
}

.formulario-input {
    display: block;
    color: white;
    width: 280px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
}

.formulario-input::placeholder {
    color: rgb(172, 192, 172);
}

.formulario-btn {
    font-size: 2.5em;
}

.formulario-btn:hover {
    text-decoration: underline;
}

.formulario-btnReset {
    color: rgb(172, 192, 172);
}